{% load static %}
<header class="main-navbar">
    <a href="{%url 'anasayfa' %}"><div class="logo">GameHub</div></a>
    
    <div class="nav-container">
        <nav>
            <ul class="nav-links">
                <li><a href="{%url 'anasayfa' %}">Ana Sayfa</a></li>
                <li><a href="{% url 'hakkimizda' %}">Hakkımızda</a></li>
                
                {% if user.is_authenticated %}
                <li><a href="{% url 'kategoriler:kategoriler' %}">Kategoriler</a></li>
                <li><a href="{% url 'iletisim' %}">İletişim</a></li>
                

                {% endif %}
                
            </ul>
        </nav>

       <div class="auth-buttons">
    {% if user.is_authenticated %}
        <a href="#" class="nav-btn btn-user btn-blue">
            <i class="fas fa-user"></i> {{ user.first_name }}
        </a>

        <form action="{% url 'logout' %}" method="post" style="display: inline;">
            {% csrf_token %}
            <button type="submit" class="nav-btn btn-logout btn-red">
                <i class="fas fa-sign-out-alt"></i> ÇIKIŞ
            </button>
        </form>
    {% else %}
        <a href="{% url 'login' %}" class="nav-btn btn-signin">Giriş Yap</a>
        <a href="{% url 'register' %}" class="nav-btn btn-signup">Kayıt Ol</a>
    {% endif %}
</div>
    </div>
</header>