{% extends 'base.html' %}

{% load static %}

{% block baslik %}{% endblock %}

{% block icerik %}
 <section class="auth-section">
        <div class="auth-card">
            <h2 class="auth-title">Giriş Yap </h2>
            <p class="auth-subtitle"> hoş geldiniz  Giriş yapiniz </p>

            {% if messages %}
                <div class="messages-wrapper" style="margin-bottom: 20px;">
                    {% for message in messages %}
                        <div class="custom-alert alert-{{ message.tags }}">
                            <i class="fas fa-exclamation-circle"></i>
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            
            <form method="post"  action="{% url 'login' %}" class="auth-form">
                {% csrf_token %}
                
                <div class="form-group">
                    <label for="id_username">Kullanici Adi</label>
                    <input type="text" id="id_username" name="username" placeholder="Kullanici adinizi giriniz" required>
                </div>

                <div class="form-group">
                    <label for="id_password">Şifre</label>
                    <input type="password" id="id_password" name="password" placeholder="Şifrenizi girin" required>
                </div>
                
                <button type="submit" class="btn btn-full">Giriş Yap</button>
            </form>

            <div class="auth-footer">
                <a href="/sifremi-unuttum" class="forgot-password">Şifremi Unuttum</a>
                <p>Hesabın yok mu? <a href="{% url 'register'%}" class="footer-link">Hemen Kayıt Ol!</a></p>
            </div>
        </div>
    </section>

{% endblock %}