body {
            font-family: Arial, sans-serif;
            background-color: #121212;
            color: #E0E0E0;
            margin: 0;
            padding: 20px;
            text-align: center;
        }

        .category-box {
            background-color: #1E1E1E;
            border: 1px solid #333333; /* Çerçeve */
            border-radius: 8px;
            padding: 20px;
            width: 250px;
            text-align: center;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* Gölge */
            transition: transform 0.3s, box-shadow 0.3s;
        }

        .category-box:hover {
            transform: translateY(-5px);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
        }

        .category-box img {
              width: 100%;
              height: 200px;
               object-fit: cover;
               border-radius: 8px;
        }

        .category-box h3 {
            color: #00BCD4;
            margin-top: 0;
            margin-bottom: 10px;
        }

        .category-box p {
            font-size: 0.9em;
            color: #B0B0B0;
            margin-bottom: 20px;
        }

        .button-text {
            display: inline-block;
            background-color: #00BCD4;
            color: #121212;
            padding: 10px 20px;
            border-radius: 4px;
            font-weight: bold;
            cursor: default;
        }

